<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "businesscard"
        version     = "1.0.1" >

    <name>Businesscard</name>
    <description>My businesscard</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
        Joanna Pełeńska
    </author>

    <platform name="android">
        <icon src="www/img/icon.png"/>
    </platform>

    <splash src="www/img/splash.png" />
    <splash platform="android" qualifier="port-hdpi" src="www/img/splashscreen.png" />
    <splash platform="android" qualifier="port-ldpi" src="www/img/splashscreen.png" />
    <splash platform="android" qualifier="port-mdpi" src="www/img/splashscreen.png" />
    <splash platform="android" qualifier="port-xhdpi" src="www/img/splashscreen.png" />

    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="2000" />

    <plugin name="cordova-plugin-device" spec="2.0.1" />
    <plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="5.0.2" />
</widget>