#table {
    border: 1px solid red;
    border-collapse: collapse;
    background-color: #d5d5d5;
    width: 100%;
}

.desc {
    text-align: right;
    padding-right: 2px;
}

.val {
    text-align: left;
    padding-left: 2px;
}