#table {
    border: 1px solid red;
    border-collapse: collapse;
    background-color: #d5d5d5;
    width: 100%;
    font-family: "Verdana", Geneva, sans-serif;
}

.desc {
    text-align: right;
    padding-right: 4px;
}

.val {
    text-align: left;
    padding-left: 4px;
}